<h3>Coucou @Username, voici la question numéro @Counter</h3>

<p>@CurrentQuestion</p>
<p>
    <button @onclick="@(() => DonnerReponse("oui"))">Oui</button>
    <button @onclick="@(() => DonnerReponse("non"))">Non</button>
</p>
@code {

}
